/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
@import url('https://fonts.googleapis.com/css?lang=en&family=Product+Sans|Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2)format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Nwp5MKg.woff2)format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2)format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Owpg.woff) format('woff');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(https://fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2)format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(https://fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2)format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(https://fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2)format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(https://fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2)format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(https://fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94YtzCwA.woff) format('woff');
}

/*END FONTS */

/* NORMALIZE */
html[lang="ja"] body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  * {
    font-family: "Noto Sans JP", "Google Sans", sans-serif;
  }

  .roboto-font {
    font-family: "Google Sans", sans-serif;
    font-size: inherit;
  }

  .gallery_footer_menu_card_title {
    font-family: "Google Sans", sans-serif;
  }

  .gallery_footer_menu_card_created_duration {
    font-family: "Google Sans", sans-serif;
  }

  .home {
    .home_title {
      font-family: "Noto Sans JP", "Google Sans", sans-serif;
    }
  }

  .copyright_block__date {
    font-family: "Google Sans", sans-serif;
  }

  mat-card-content {
    font-family: "Noto Sans JP", "Google Sans", sans-serif;
  }

  mat-card-actions {
    font-family: "Noto Sans JP", "Google Sans", sans-serif;
  }

  mat-card-header {
    font-family: "Noto Sans JP", "Google Sans", sans-serif;
  }

  .mat-icon {
    font-family: 'Material Icons';
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  vertical-align: baseline;

  .gallery_footer_menu_card_title {
    font-family: "Google Sans", sans-serif;
  }

  .roboto-font {
    font-family: "Google Sans", sans-serif;
    font-size: inherit;
  }

  .gallery_footer_menu_card_created_duration {
    font-family: "Google Sans", sans-serif;
  }

  .home {
    .home_title {
      font-family: "Google Sans", sans-serif;
    }
  }

  mat-card-content {
    font-family: "Google Sans", sans-serif;
  }

  mat-card-actions {
    font-family: "Google Sans", sans-serif;
  }

  mat-card-header {
    font-family: "Google Sans", sans-serif;
  }

  .mat-icon {
    font-family: 'Material Icons';
  }
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* END NORMALIZE */

canvas.deepar {
  border: 0px none;
  background-color: black;
  display: block;
  margin: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Google Sans", sans-serif;
}

#loading-screen,
#permission-denied-screen,
#permission-denied-background {
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}


.carousel {
  position: absolute;
  bottom: 30px;
  overflow: hidden;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 165px;
  width: 100%;
}

.carousel.active {
  cursor: grabbing;
}

.carousel-slider {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  width: fit-content;
  height: inherit;
  transition: left 0.3s ease;
  will-change: transform;
}

.carousel.active .inner {
  transition: none;
}

.carousel-center {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 84px;
  border: none;
  border-radius: 50%;
  z-index: 100;
  box-shadow: none;
  -webkit-user-select: none;
}

.carousel-slider .slide {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 12px;
  margin-right: 12px;
}

.carousel-slider .slide.active {
  /* background-color: #F6F5F3; */
  margin-left: 12px;
  margin-right: 12px;
  width: 80px;
  height: 80px;
}

.slide {
  position: relative;
  background-color: #F6F5F3;
  /* overflow: hidden; */
  /* border: 2px solid white; */
  -webkit-touch-callout: none;
  /* Safari Touch */
  -webkit-user-select: none;
  /* Webkit */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Edge*/
  user-select: none;
  /* Future-proof*/
}

.slide-name {
  color: #F8F9FA;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}

.slide.active {
  background-color: #F6F5F3;
}

.slide.active img {
  width: 56px;
  height: 52px;
}

.slide img {

  width: 43px;
  height: 40px;
  object-fit: cover;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 67px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: lightblue transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.loading-block__image-wrapper {
  width: 100%;
  max-width: 525px;
  /* max-height: 270px; */
  padding: 0 5px;
  height: auto;
  margin-bottom: 50px;

}

/* @media (max-width: 400px) {
  .loading-block__image-wrapper {
    max-height: 200px;
  }
} */

.loading-block__image {
  max-width: 100%;
  height: auto;
}

.loading-block__title {
  color: #3C4043;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 8px;
}

.loading-block__subtitle {
  color: #808286;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 32px;
}

.loading-block__progress {
  width: 100%;
  height: 16px;
  background-color: #F8F9FA;
  border-radius: 100px;
  overflow: hidden;
  border: 4px solid #fff;
  /* border: 4px solid red; */
  max-width: 405px;

  @media (max-width: 576px) {
    max-width: 340px;
  }
}

#loading-progress-bar {
  width: 5%;
  background: #DDEBD3;
  height: 100%;
  border-radius: 4px;
  transition: width 1s ease-out;
}

.permission-denied-text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.permission-denied-text p {
  width: 300px;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 28px;
  letter-spacing: 0.15px;
  border-radius: 24px;
  background-color: #DDEBD3;
}